@import "../../data/styles.css";

.homepage-logo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 180px;
}

.homepage-container {
  padding-top: 25px;
}

.homepage-first-area {
  display: flex;
  justify-content: space-between;
}

.homepage-first-area-left-side {
  width: 77%;
}

.homepage-name {
  width: 85%;
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 3.5rem;
}

.homepage-title {
  width: 85%;
  font-size: 2rem;
  line-height: 2.5rem;
  color: rgb(63 63 70);
  font-weight: 400;
}

.homepage-subtitle {
  width: 85% !important;
}

.homepage-first-area-right-side {
  display: flex;
  align-items: center;
}

.homepage-image-wrapper {
  overflow: hidden;
  border-radius: 10%;
  transform: rotate(3deg);
}

.homepage-image-wrapper img {
  width: 100%;
}

.homepage-socials {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;
}

.homepage-social-icon {
  padding-right: 20px;
  font-size: 25px;
  transition: color 0.2s ease-in-out;
  color: var(--secondary-color);
}

.homepage-social-icon:hover {
  color: var(--primary-color);
}

.homepage-after-title {
  display: flex;
  margin-top: 4em;
}

.homepage-projects {
  flex-basis: 300px;
  padding-top: 40px;
}

.homepage-articles {
  flex-basis: 900px;
  padding-top: 30px;
  margin-left: -30px;
}

.homepage-article {
  padding-bottom: 5px;
}

.homepage-works {
  flex-basis: 600px;
  padding-top: 30px;
}

.subtitle-desc3 {
  color: #0f766e;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .homepage-first-area {
    flex-direction: column;
  }

  .homepage-name {
    width: 100%;
  }

  .homepage-title {
    width: 100% !important;
    order: 2;
  }

  .homepage-subtitle {
    width: 100% !important;
    order: 3;
  }

  .homepage-first-area-right-side {
    width: 100%;
    order: 1;
  }

  .homepage-after-title {
    flex-direction: column;
  }

  .homepage-projects {
    flex-basis: auto;
  }

  .homepage-articles {
    flex-basis: auto;
  }

  .homepage-works {
    flex-basis: auto;
    margin-left: -25px;
    margin-right: -25px;
  }
}

@media (max-width: 768px) {
  .homepage-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 150px;
  }

  .homepage-first-area-left-side {
    width: 100%;
  }

  .navbar__cont .navbar {
    margin: 0 auto;
  }
}
